/*begining of all css for Home.js page*/

.home_header1{
    width:100%;
    position: relative;
    right:-100px;
    bottom:-70px;
    display: flex;
    gap: 50vh;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:20vh;
  }
  
  .home_header2{
    width: 100%;
    position: relative;
    right:-100px;bottom:-70px;
    display: flex;gap:0vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20vh;
  }
  .home_header_left{
    margin-top: 25px;
    animation: FromRight2left ease-in-out 2s;
  }
  .homeHeaderLeft_H2{
    text-Align:left;
    font-weight:initial;
    margin-left:90px;
    font-size:x-large;
    animation: FromRight2Left ease-in-out 2s;
  }
  .homeHeaderLeft_p3{
    position: relative;
    top: 20px;
   left: -13%;
    font-weight:initial;
    margin-left:90px;
    font-size: x-large;
    animation: FromRight2Left ease-in-out 2s;
  }
  .homeHeaderLeft_Button{
    position: relative;
    top: -70px;
    left: 10%;
    border-radius:37px;
    border:none;
    height:42px;
    width:160px;
    background-color:#36873E;
    color:white;
    
  }
  .homeHeaderLeft_Button:hover{
    cursor: pointer;
    border-radius:37px;
    border:none;height:42px;
    width:160px;
    background-color:#36873E;
    color:white;
    margin-bottom:190px
  }
  .home_footer{
    display:flex;
    flex-direction: row;
    margin-top:90px;
    position:relative;
    top:50%;
    left:20%;
    gap: 7px;
  }
  
  .home_header_right{
    height:67vh;
    width: fit-content;
    animation: FromLeft2Right ease-in-out 2s;
  }
  
  
  
  @keyframes FromLeft2Right{
    from{transform:translateX(200%);}
    to{transform:translateX(0px);}
  }
  @keyframes FromRight2left{
    from{transform:translateX(-200%);}
    to{transform:translateX(0px);}
  }
  @keyframes FromOppacity1-ToOppacity0{
    from{opacity:1;}
    to{opacity:0;}
  }
  @keyframes FromOppacity0-ToOppacity1{
    from{opacity:0;}
    to{opacity:1;}
  }
  
  .homeFooter_div1{
    margin-right:30px;
    margin-left:30px;
    animation:FromRight2left ease-in-out 3s;
  }
  .homeFooter_div2{
    margin-right:30px;
    margin-left:30px;
    animation: FromOppacity0-ToOppacity1 ease-in-out 5s;
  }
  .homeFooter_div3{
    margin-right:30px;
     margin-left:30px;
    animation:FromLeft2Right ease-in-out 3s;
  }
  /*end of all css for Home.js page*/